.container {
  display: flex;
  flex-wrap: wrap;
}

.course {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 20px;
  width: 30%;
}

.course h2 {
  color: #333;
}

.course p {
  color: #666;
}

.course-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.gift {
  font-size: 20px;
}

.course-info {
  display: flex;
  align-items: center;
}
